<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PolyDrom.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>932B37E42FFD6364004A3CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>932B37F32FFD6365004A3CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>932B37FD2FFD6365004A3CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
